<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--タブのとこに表示される名前の指定?-->
    <title>@ViewBag.Title - ECサイト</title>
   <!--
    共通ページ
    htmlbodyの宣言やcssの準備 デフォルトでboostrapが入ってるけどjavaで使ってる物だとうまく表示されない　何か違いが？
    ＠なんたらでやられるのは全てRazor構文と呼ばれる埋め込み文
    -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--リンク飛ばす    テキスト   ｱｸｼｮﾝ　ｺﾝﾄﾛｰﾗ　アクション先への変数引き渡し（urlに?test=11みたいに渡される-->
                @Html.ActionLink("ECサイト", "Index", "Home", new { test = "11" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--HomeコントローラのIndexアクションに飛ぶ-->
                    <li>@Html.ActionLink("ホーム", "Index", "Home")</li>
                    <!--
         これだとエラー 上のtest=11はセーフurlに?length=4と出ていた
         new～を入れた文は別の構成になるのでnull入れてやる
         <li>@Html.ActionLink("詳細", "About", "Home" , new { test = "11" })</li>
    -->
                    <li>@Html.ActionLink("詳細", "About", "Home", new { test = "1" }, null)</li>
                    <li>@Html.ActionLink("商品", "Index", "Products", new { test = "1" }, null)</li>
                    <li>@Html.ActionLink("カート" ,"Cart" , "Products")</li>
                    @if (Session["login"] == null)
                    {
                        <li>@Html.ActionLink("ログイン", "Login", "Members")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("ログアウト", "Logout", "Members")</li>
                    }

                    <li>@Html.ActionLink("問い合わせ", "Contact", "Home")</li>
                    @if (Session["test"] == null)
                    {
                        <li class="navbar-text">null</li>
                    }
                    else
                    {
                        <li class="navbar-text">@Session["test"]</li>
                    }
                    @if (Session["loginID"] != null)
                    {
                        <li class="navbar-text">@Session["loginID"]さん</li>
                    }
                    /**/
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>footer</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
